html {
  font-family: "IBM Plex Sans", sans-serif;
}

header {
  background-color: #ddd;
}

form {
  background-color: #efefef;
}

fieldset {
  border: none;
}

.logo {
  max-width: 200px;
}

.card {
  background-color: #fff;
}
