html {
  font-family: "IBM Plex Sans", sans-serif;
}

header {
  background-color: #ddd;
}

main {
  background-color: #efefef;
}

img {
  max-width: 200px;
}

.relative {
  position: relative;
}

.search-icon {
  left: .5rem;
  position: absolute;
}

.card {
  background-color: #fff;
}

table {
  background-color: #fff;
  min-width: 50em;
}

table caption {
  background-color: #fff;
}

.table-wrapper {
  overflow: visible;
}
