html {
  font-family: "IBM Plex Sans", sans-serif;
}

header {
  background-color: #ddd;
}

form {
  background-color: #efefef;
}

fieldset {
  border: none;
  padding: 0;
}

.logo {
  max-width: 200px;
}

.card {
  background-color: #fff;
}

table {
  background-color: #fff;
}

table caption {
  background-color: #fff;
}

.table-wrapper {
  overflow: visible;
}
